/* stuManagement.jsp用CSS */

@charset "UTF-8";
h2 {
	padding-top: 15px;
	text-align: center;
}

.main-p {
	margin-left: 15px;
}

.main-btn {
	margin-left: 15px;
	display: flex;
}

.main-table {
	margin: 10px;
}

.col {
	width: 100%;
}

.main-col {
	margin: 0 auto;
}

.edit-form {
	
}

.main-table {
	margin: 0 auto;
}

th {
	varti
	white-space: nowrap;
}

td {
	white-space: nowrap;
}
input.hoge {
	width: 300px;
}
.hoge {
	width: 300px;
}